@import 'tailwindcss';

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-mono);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ubuntu-mono), var(--font-konkhmer-sleokchher);
}
.my-khmer-text {
  font-family: var(--font-konkhmer-sleokchher);
}
hr{
  border: 0;
  border-top: 3px solid var(--color-emerald-950);
  margin: 20px 0;
}